.form {
  margin: 0 auto;
  width: 100%;
}

.form__label {
  display: block;
  font-size: 67.5%;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.form__label + .form__label {
  margin-top: 0.5rem;
}

.form__input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form__textarea {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
  border: 0.5px solid lightgrey;
}

.form__button {
  background-color: rebeccapurple;
  border: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem auto 0;
  padding: 0.25rem 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 150ms linear;
  width: 100%;
}

.form__button:hover {
  cursor: pointer;
}

.form__button:hover,
.form__button:active,
.form__button:focus {
  background-color: color(rebeccapurple lightness(-20%));
}
