@keyframes lds__wedges {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds__wedges {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds__wedges {
  position: relative;
}
.lds__wedges > div > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds__wedges 3s linear infinite;
  animation: lds__wedges 3s linear infinite;
  opacity: 0.8;
}
.lds__wedges > div > div > div {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px 0 0 0;
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
}
.lds__wedges > div div:nth-child(1) > div {
  background: #8c799e;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds__wedges > div div:nth-child(1) {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.lds__wedges > div div:nth-child(2) > div {
  background: #8766a9;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds__wedges > div div:nth-child(2) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.lds__wedges > div div:nth-child(3) > div {
  background: #784ea2;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds__wedges > div div:nth-child(3) {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.lds__wedges > div div:nth-child(4) > div {
  background: #663399;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.lds__wedges > div div:nth-child(4) {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.lds__wedges {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}
