
.modal {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 100;
  padding: 0 1em;
}

.modal form {
  text-align: left;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal__content {
  padding: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.modal__actions button {
  margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}
