.header {
  background-color: rebeccapurple;
  max-width: 100vw;
}

.header__wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 640px;
}

.header__heading {
  margin: 0;
  font-size: 1.5rem;
}

.header__nav {
  font-size: 0.8rem;
  margin-top: 0;
  text-align: right;
}

.header__link {
  color: white;
  font-weight: bold;
  margin-left: 0.75rem;
  margin-top: 0;
  padding: 0.25rem;
  text-decoration: none;
}

.header__link--home {
  margin-left: -0.25rem;
}

.header__link:hover,
.header__link:active {
  background: white;
  color: rebeccapurple;
}

@media only screen and (min-width: 500px) {
  .header__heading {
    font-size: 2rem;
  }

  .header__nav {
    font-size: 1.25rem;
  }
}
